@import "reset.css";
html * {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent; /* turn off default press states */
  -webkit-touch-callout: none; /* disable save image on long press */
  -webkit-user-select: none; /* disable selection copy/paste */
  -webkit-user-drag: none; /* disable dragging images */
  }
body {
  font-family: 'proxima-nova', Helvetica, sans-serif;
  line-height: normal;
  background: #363739;
  }

.item {
    float: left;
    margin: 5px;
    padding: 5px;
    background: white;
    border: 1px solid #dedede;
}
.item img {
    max-width: 480px;
}
.meta {
    border-top: 1px solid #dedede;
    margin-bottom: 5px;
}
msg, title {
    color: white;
}
