@import "reset.css";
html * {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent; /* turn off default press states */
  -webkit-touch-callout: none; /* disable save image on long press */
  -webkit-user-select: none; /* disable selection copy/paste */
  -webkit-user-drag: none; /* disable dragging images */
  }
body {
  font-family: 'proxima-nova', Helvetica, sans-serif;
  line-height: normal;
  background: #363739 url(container-bg.jpg) repeat 50% 0;
  overflow: hidden;
  }

/* slider container */
.iosSlider {
  height: 100%;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
}

/* slider */
.iosSlider .slider {
    /* required */
    width: 100%;
    height: 100%;
  overflow: hidden;
}

/* slide */
.iosSlider .slider .slide {
    /* required */
    float: left;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
}

.slideinfo {
    box-shadow: 0 0 10px -5px black;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 10;
    opacity: 0.8;
}
h1, h2 {
    color: white
}
h2 {
    font-size: 100%
}
h1 {
    font-size: 200%;
}
img {
    max-width: 100% !important;
    max-height: 100% !important;
}
msg, title {
    visibility: none;
}
