<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Weechat URLs</title>
    <link rel="stylesheet" href="static/screen.css" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/jquery.iosslider.js"></script>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="images/icons/icon-homescreen.png" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="static/add2home.css">
    <script type="application/javascript" src="static/add2home.js"></script>
  </head>
  <body>
      <!-- slider container -->
      <div class = 'iosSlider'>
          <!-- slider -->
          <div class = 'slider'>
              <div class="slide"><h1>Welcome to Weechat URL slider</h1><h2>Slide to win</div>
              <div class="slide"><h1>You have reached the end</h1><h2>Of the internets</h2></div>
          </div>
      </div>
      <div class="slideinfo">
          <h1>
          </h1>
          <h2>
          </h2>
      </div>

      <div id="next"></div>

<script>
    var slides = [];
    var currentSlide = 0;
    var slideComplete = function(args) {
        currentSlide = args.currentSlideNumber;
        nr = args.numberOfSlides;
        console.log('Nrofslides ', nr);
        addSlide(slides[nr-2], nr);
    }
    var slideUpdater = function(args) {
        currentSlide = args.currentSlideNumber;
        urlobj = slides[currentSlide-1]
        $('.slideinfo h1').html(urlobj.buffer_name + ' ' + urlobj.nick);
        $('.slideinfo h2').html(urlobj.message.replace(urlobj.url, ''));
        console.log('Currentslide ', currentSlide);
    }
    var slideHTML = function(url) {
        return "<div class='slide'><img src="+url+"></div>";
    }
    var addSlide = function(slideobj, slidepos) {
        $('.iosSlider').iosSlider('addSlide', slideHTML(slideobj.url), slidepos);
    }

    // Init the slider
    $('.iosSlider').iosSlider({
        desktopClickDrag: true,
        snapToChildren: true,
        autoSlideTransTimer: 500,
        onSlideChange: slideUpdater,
        onSlideComplete: slideComplete,
        navNextSelector: $('#next'),
    });

    // Fetch the urls
    $.getJSON('/api/img', function(data) { 
        slides = data.urls;
        for(i=2;i<92;i++) {
            addSlide(slides[i], i);
        }
        // Trigger responsive
        $('.iosSlider').iosSlider('update');
        $('.iosSlider').css('height: 100%');
    })


$(document).ready(function() {
    //$('body').bind('click', function() { $('#next').click(); } );
});
</script>
  </body>
</html>

