<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Weechat URLs</title>
    <link rel="stylesheet" href="static/screen.css" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="images/icons/icon-homescreen.png" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="static/add2home.css">
    <script type="application/javascript" src="static/add2home.js"></script>
    <script type="application/javascript" src="static/masonry/jquery.masonry.min.js"></script>
  </head>
  <body>
      <div id="container" class='container'>
      </div>
      <div id="next"></div>
<script>
    var slides = [];
    var currentSlide = 0;
    var itemHTML = function(urlobj) {
        title = urlobj.nick + '@' + urlobj.buffer_name;
        caption = urlobj.message.replace(urlobj.url, '');
        return "<div class='item'><img src="+urlobj.url+"><div class=meta><div class=title>"+title+"</div><div class=msg>"+caption+"</div></div></div>";
    }
    var addItem = function(slideobj, slidepos) {
        $('.container').append(itemHTML(slideobj));
    }

    // Fetch the urls
    $.getJSON('/api/img', function(data) { 
        images = data.urls;
        $.each(images, function(i, obj) {
            addItem(obj, i);
        });
    })
    var doMasonry = function() {
        $('#container').masonry({
            itemSelector : '.item',
            columnWidth : 480
        });
    };

$(document).ready(function() {
    //$('body').bind('click', function() { $('#next').click(); } );
        doMasonry();
});
</script>
  </body>
</html>

